@charset "UTF-8";

body{
    background-color: rgb(83, 83, 246);
    font: normal 1em Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
}

main{
    background: white;
    border-radius: 0.5em;
    padding: 1em;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.358);
}

footer{
    color: white;
    text-align: center;
}